{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-3 mb-4">All Shelters</h1>

<div class="container mb-4">
  <div class="row">
    {% for shelter in shelters %}
    <div class="col-md-4 d-flex flex-column align-items-center mb-3">
      {% if shelter.image %}
      <a href="{% url 'shelter_profile' shelter.id %}">
        <img src="{{ shelter.image.url }}" alt="Image of {{ shelter.name }}" class="sub-profile-image">
      </a>
      {% endif %}
      <a href="{% url 'shelter_profile' shelter.id %}">
        <h2 class="text-center">{{ shelter.name }}</h2>
      </a>
      <a href="{{ shelter.website }}" target="_blank" class="mb-3">Link to Website</a>
    </div>
    <hr class="d-md-none">
    {% empty %}
    <h3 class="text-center">No shelters registered</h3>
    {% endfor %}
  </div>
</div>

{% endblock %}