{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-3 mb-4">All Shelters</h1>

<div class="container mb-4">
  <div class="row">
    {% for shelter in shelters %}
    <div class="col-4 d-flex flex-column align-items-center">
      {% if shelter.image %}
      <a href="{% url 'shelter_profile' shelter.id %}">
        <img src="{{ shelter.image.url }}" alt="Image of {{ shelter.name }}" style="width:200px; height:auto;">
      </a>
      {% endif %}
      <a href="{% url 'shelter_profile' shelter.id %}">
        <h2>{{ shelter.name }}</h2>
      </a>
      <a href="{{ shelter.website }}" target="_blank">Link to Website</a>
      <p>FYI {{ shelter.registration_number }}</p>
      <p>{{ shelter.description }}</p>
      <p>{{ shelter.id }}</p>
    </div>
    {% empty %}
    <h3 class="text-center">No shelters registered</h3>
    {% endfor %}
  </div>
</div>

{% endblock %}