{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-3 mb-4">{{ profile.user.username }}</h1>

<div class="container mb-4">
  <div class="row">
    <div class="col-6">
      {% if profile.image %}
      <img src="{{ profile.image.url }}" alt="Image of {{ profile.name }}" style="width:400px; height:auto;">
      {% else %}
      <p>Click Edit Profile to add photo</p>
      {% endif %}
    </div>
    <div class="col-4">
      <p>Role: {{ profile.role }}</p>
      <p>Bio: {{ profile.bio }}</p>
    </div>
    <div class="col-2">
      {% if profile == user.profile %}
      <a href="{% url 'edit_profile' %}" class="btn btn-primary mb-3">Edit Profile</a>
      <a href="{% url 'apply_role_change' %}" class="btn btn-primary">Apply to Register Shelter</a>
      {% endif %}
    </div>
  </div>
</div>

{% if animals %}
<h2 class="text-center mb-4">Animals</h2>
{% endif %}

<!-- Fostered Animal Profiles -->
<div class="container mb-4">
  <div class="row">
    {% for animal in animals %}
    <div class="col-4 d-flex flex-column align-items-center">
      {% if animal.image %}
      <a href="{% url 'animal_profile' animal.id %}">
        <img src="{{ animal.image.url }}" alt="Image of {{ animal.name }}" style="width:200px; height:auto;">
      </a>
      {% endif %}
      <a href="{% url 'animal_profile' animal.id %}">
        <h3>{{ animal.name }}</h3>
      </a>
      <p>{{ animal.age }} year old {{ animal.breed }}</p>
      <p><strong>{{ animal.adoption_status }}</strong></p>
    </div>
    {% empty %}
    <div class="col-12">
      <h3 class="text-center">You haven't fostered any animals yet!</h3>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}