{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-3 mb-4">Tokens</h1>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div class="wrapper text-center">
        <p>You have {{ profile.tokens }} tokens</p>
        <p>100 tokens - £4.99</p>
        <form action="{% url 'create_checkout_session' %}" method="POST">
          {% csrf_token %}
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Buy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}