{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-3 mb-4">{{ animal.name }}</h1>

<div class="container mb-4">
  <div class="row">
    <div class="col-6">
      {% if animal.image %}
      <img src="{{ animal.image.url }}" alt="Image of {{ animal.name }}" style="width:400px; height:auto;">
      {% endif %}
    </div>
    <div class="col-4">
      <p>Shelter: {{ animal.shelter }}</p>
      <p>Species: {{ animal.species }}</p>
      <p>Breed: {{ animal.breed }}</p>
      <p>Age: {{ animal.age }}</p>
      <p>Foster status: <strong>{{ animal.adoption_status }}</strong></p>
    </div>
    <div class="col-2 d-flex flex-column justify-content-between">
      {% if user == animal.shelter.admin %}
      <a href="{% url 'edit_animal_profile' animal.id %}" class="btn btn-primary">Edit Profile</a>
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal{{ animal.id }}">Delete
        Profile</a>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteModal{{ animal.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Changes cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form action="{% url 'delete_animal_profile' animal.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Delete Profile</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <a href="{% url 'add_update' animal.id %}" class="btn btn-primary">Add Update</a>

      {% else %}

      <a href="{% url 'select_sprite' animal.id %}" class="btn btn-primary">Foster</a>

      {% endif %}
    </div>
  </div>
</div>

<section class="container mb-4">
  <h2 class="mb-4">Description</h2>
  <p>{{ animal.description }}</p>
</section>

<section class="container mb-4">
  <h2 class="mb-4">Updates</h2>
  {% for update in animal.updates.all %}
  <div class="d-flex justify-content-between">
    <p><strong>{{ update.created_at|date:"Y-m-d H:i" }}</strong></p>
    <div>
      {% if user == animal.shelter.admin %}
      <a href="{% url 'edit_update' update.id %}">Edit</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#deleteUpdateModal{{ update.id }}">Delete</a>
      <!-- Delete Modal -->
      <div class="modal fade" id="deleteUpdateModal{{ update.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Changes cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form action="{% url 'delete_update' update.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <p>{{ update.text }}</p>
  {% empty %}
  <p>No updates yet</p>
  {% endfor %}

</section>

{% endblock %}