{% extends "base.html" %}

{% block content %}
<h2>Animal Profile</h2>
<p><strong>Shelter:</strong> {{ animal.shelter }}</p>
<p><strong>Name:</strong> {{ animal.name }}</p>
<p><strong>Species:</strong> {{ animal.species }}</p>
<p><strong>Breed:</strong> {{ animal.breed }}</p>
<p><strong>Age:</strong> {{ animal.age }}</p>
<p><strong>Description:</strong> {{ animal.description }}</p>
<p><strong>Foster status:</strong> {{ animal.adoption_status }}</p>

{% if user == animal.shelter.admin %}
<a href="{% url 'edit_animal_profile' animal.id %}">Edit Profile</a>
{% endif %}

{% endblock %}