body {
  background-color: #0b0b32;
}

h1,
h2,
h3 {
  color: #d8d9f7;
}

p,
li,
label {
  color: #bcbdd6;
  font-size: 1.25rem;
}

/* NAVBAR */

/* .navbar {
  background-color: #080925;
} */

/* HOME PAGE */

.home-section {
  background-color: #080925;
  border-radius: 20px;
}

img {
  border-radius: 10px;
}

.wrapper {
  max-width: 50%;
  border: 1px solid red;
}

/* SPRITE SELECTOR */

.carousel {
  border: 1px solid green;
  border-radius: 20px;
  width: 60%;
  padding: 30px;
}

/* DASHBOARD */

.dash-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

canvas {
  border: 1px solid black;
}

.spritesheet {
  display: none;
}

.chart-canvas {
  width: 200px;
}