/* GENERAL */

body {
  background-color: #0b0b32;
}

h1,
h2,
h3,
hr {
  color: #d8d9f7;
}

p,
li,
label {
  color: #bcbdd6;
  font-size: 1.25rem;
}

img {
  border-radius: 10px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.sub-profile-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.btn {
  max-width: 200px;
}

.wrapper {
  max-width: 50%;
}

/* TOASTS - Majority of this section from tutorial - see README */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999;
}

.toast {
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  width: 350px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  animation: show 0.3s ease 1 forwards;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

.toast i {
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.toast .title {
  font-weight: bold;
  font-size: x-large;
}

.toast span {
  font-size: large;
}

.toast button {
  color: white;
}

.toast::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 3px;
  content: '';
  box-shadow: 0 0 10px var(--color);
  animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
  to {
    width: 0;
  }
}

.toast.success {
  /* --color: #0abf31;
  background-image: linear-gradient(to right, #0abf31c9, #22242f 30%); */
  --color: #0abf30;
  background-image:
    linear-gradient(to right, #0abf3055, #22242f 30%);
}

.toast.error {
  --color: #f24d4c;
  background-image:
    linear-gradient(to right, #f24d4c55, #22242F 30%);
}

.toast.warning {
  --color: #e9bd0c;
  background-image:
    linear-gradient(to right, #e9bd0c55, #22242F 30%);
}

.toast.info {
  --color: #3498db;
  background-image:
    linear-gradient(to right, #3498db55, #22242F 30%);
}

/* HOME PAGE */

.home-section {
  background-color: #080925;
  border-radius: 20px;
}

/* SPRITE SELECTOR */

.carousel {
  border: 1px solid green;
  border-radius: 20px;
  width: 60%;
  padding: 30px;
}

/* DASHBOARD */

.dash-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

canvas {
  border: 1px solid black;
}

.spritesheet {
  display: none;
}

.chart-canvas {
  width: 200px;
}