{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Dashboard</h1>
<h2 class="text-center"><strong><span id="token-count">{{ profile.tokens }}</span> Tokens</strong></h2>
<a href="{% url 'tokens' %}">Buy tokens here</a>
<!-- <h2>Welcome, {{ request.user.username }}</h2> -->
<img id="husky" class="spritesheet" src="{% static 'images/spritesheets/husky/one.png' %}">

<div class="container">
  {% for sprite in sprites %}
  <div class="row">
    <div class="col-4">
      <img src="{{ sprite.animal.image.url }}" alt="{{ sprite.animal.name }}" class="img-fluid">
      <h2>{{ sprite.animal.name }}</h2>
    </div>
    <div class="col-4">
      <canvas class="sprite-canvas" data-id="{{ sprite.id }}" data-url="{{ sprite.url }}"></canvas>
      <img id="{{ sprite.id }}" class="spritesheet img-fluid"
        src="{% static 'images/spritesheets/'|add:sprite.url|add:'.png' %}" alt="">
      <button id="button1-{{ sprite.id }}">Feed</button>
    </div>
    <div class="col-4">
      <canvas class="chart-canvas" id="chart-canvas-{{ sprite.id }}"></canvas>
    </div>
  </div>
  {% empty %}
  <p>You have no sprites yet.</p>
  {% endfor %}
</div>


{% for sprite in sprites %}
<div class="sprite">
  <img src="{% static 'images/spritepics/'|add:sprite.url|add:'.png' %}" alt="" class="img-fluid">
  <p>Sprite Name: {{ sprite.animal.name }}</p>
  <p>Created At: {{ sprite.created_at }}</p>
  <a href="#" data-bs-toggle="modal" data-bs-target="#deleteSpriteModal{{ sprite.id }}">Delete Sprite</a>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteSpriteModal{{ sprite.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Changes cannot be undone!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'delete_sprite' sprite.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>You have no sprites yet.</p>
{% endfor %}


<script type="module" src="{% static 'dashboard/js/main/main.js' %}"></script>
<script src="{% static 'dashboard/js/AJAX/button1.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard/js/chart/chart.js' %}"></script>

{% endblock %}